.home-banner {
  background-image: url('https://www.ctvnews.ca/polopoly_fs/1.4643566.1571350349!/httpImage/image.jpg_gen/derivatives/landscape_800/image.jpg');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}
